{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
<h1>{{ title }}</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequuntur corporis, cupiditate dignissimos est
    excepturi ipsam iste iusto nemo officiis quibusdam repellendus sint sit tempora temporibus, totam vel! Aliquam
    dolorem eos et magnam minus odit officiis quae soluta vitae voluptatem?</p><p>Aliquam aliquid aperiam architecto
    blanditiis consequatur delectus dolore doloribus earum et id inventore ipsam labore laboriosam mollitia
    necessitatibus praesentium quisquam quo sed similique, temporibus tenetur vel vero voluptas. Ab architecto at
    dolores laboriosam maiores numquam placeat repellat sapiente vel veniam?</p>

{% endblock %}

{% block javascripts %}{% endblock %}
